src/main/mule/scripting-example-mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="70646986-4b8b-45af-a75f-5f0b719e6731">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<flow name="scripting-example-mule4Flow"
		doc:id="97627ee8-1b83-4dbb-a9e1-26493c6edf9a">
		<http:listener doc:name="Listener"
			doc:id="c99983ea-596e-4a57-90a9-2a83f1215f77"
			config-ref="HTTP_Listener_config" path="/javascript" />
		<set-payload value="#[100]" doc:name="Set Payload"
			doc:id="0238c904-851b-40d6-830f-c9edcf8557ee" />
		<set-variable variableName="increment" value="#[22]" />
		<scripting:execute doc:name="Execute"
			doc:id="cd3c2419-de6e-4a84-a094-fd5fa8e96c55" engine="ECMAScript">

			<scripting:code><![CDATA[log.info("Incrementing payload by " + (vars.increment + initialValue))
result = vars.increment + Number(payload) + initialValue
    ]]></scripting:code>
			<scripting:parameters><![CDATA[#[{ initialValue: 10 }]]]></scripting:parameters>
		</scripting:execute>
		<ee:transform doc:name="Transform Message"
			doc:id="2e1ae2f4-5079-49d0-b508-edad641cb717">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"payload": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
